{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5" style="text-align: center;">
    <h4>
        Welcome to Rock Vinyl Shop!
        <br />
        Your place where sound becomes legend! Explore our collection of rock vinyl records - from classics to rare
        editions.
        <br />
        Start your journey through the world of music now!
        <br />
        In our offer, you will find vinyl records from genres:
    </h4>
</div>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col">
            <h3>Most recent</h3>
        </div>
        <div class="col">
            <h3>Most popular</h3>
        </div>
    </div>

</div>
</div>
<div class="container mt-3" style="text-align: center;">
    <h4>You can also explore and browse through the discographies of your favorite artists.</h4>
</div>

{% endblock  %}